// Primary Colors
$clr-primary-300: #4b88a2ff;
$clr-primary-300: #848eac;
$clr-primary-400: #f00c4f;

// Neutral Colors
$clr-neutral-200: #fff9fbff;
$clr-neutral-400: #d3d4d9ff;
$clr-neutral-700: #252627ff;

$clr-success: #50c878;
$clr-warning: #ffff8f;
