@use '../config/' as *;

.results.wrapper {
  @include section-padding;
  width: min(95%, $bp-xl);
  position: relative;
}

.results__title {
  @include section-title();
  text-align: center;
  margin-block-end: 0.5rem;

  @include media-lg {
    margin-block-end: 1.5rem;
  }
}

.results__list {
  @include grid-layout(1);
  gap: 0.5rem;

  @include media-lg {
    @include grid-layout(2);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
  }
}

.exercise {
  @include flex-layout(row, flex-start, center);
  gap: 0.5rem;
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba($color: $clr-neutral-400, $alpha: 0.25);

  @include media-md {
    gap: 1rem;
  }
}

.exercise-btn {
  @include btnTransition(500ms);

  @include media-hover {
    &:hover {
      @include btnHover();
    }
  }
}

.exercise__name {
  font-size: $fs-300;
  font-weight: $fw-700;
  text-transform: capitalize;
  text-align: left;
  line-height: $lh-400;

  @include media-lg {
    font-size: $fs-400;
  }
}

.exercise__category-img {
  width: 2rem;

  @include media-md {
    width: 3rem;
  }
}

.exercise__muscles {
  display: none;

  @include media-md {
    @include flex-layout(row);
    gap: 0.25rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
  }
}

.exercise__muscle,
.exercise__category {
  font-size: $fs-100;
  font-weight: $fw-400;
  color: $clr-neutral-200;
  text-transform: uppercase;
  padding: 0.15rem 0.3rem;
  border-radius: 0.25rem;
  background-color: rgba($color: $clr-primary-300, $alpha: 1);
}

.exercise__category {
  background-color: rgba($color: $clr-primary-400, $alpha: 0.75);
}
