@use '../config/' as *;

.search {
  @include flex-layout(column, flex-start, center);
  gap: 2rem;
}

.search__title {
  @include section-title();
}

.search__form {
  position: relative;
  width: 100%;

  @include media-sm {
    width: 75%;
  }
}

.search__input {
  display: block;
  width: 100%;

  padding: 0.75rem 3rem 0.75rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid $clr-neutral-700;

  font-size: $fs-500;
  font-weight: $fw-700;

  cursor: pointer;

  &:focus-visible {
    border-color: transparent;
    outline: 2px solid $clr-neutral-700;
    box-shadow: 0 0 25px rgba($color: $clr-neutral-700, $alpha: 0.25);
  }

  &::placeholder {
    color: rgba($color: $clr-neutral-700, $alpha: 0.3);
  }
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  img {
    width: 2rem;
    aspect-ratio: 1;
  }
}
