@use './config/' as *;
@use './sections/' as *;

body {
  background-color: $clr-neutral-200;
  font-family: $ff-primary;
  font-size: $fs-400;
  font-weight: $fw-400;
  line-height: $lh-700;
  color: $clr-neutral-700;
  position: relative;
}

.wrapper {
  width: min(90%, $bp-xl);
  margin-inline: auto;
}

.site {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100dvh;
  place-items: center;
}

.overlay {
  display: block;
  position: fixed;
  inset: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 999;
}

.btn {
  @include media-hover {
    &:hover {
      transform: scale(0.8);
    }
  }
}

.error {
  @include flex-layout(row, center, center);
  gap: 1rem;
  margin-block: 0.5em;

  &-icon {
    width: 1.5rem;
    aspect-ratio: 1;
  }

  &-message {
    font-weight: $fw-500;
    font-size: $fs-400;

    @include media-md {
      font-size: $fs-500;
    }
  }
}

.bookmarks-notification,
.schedule-notification {
  @include flex-layout(row, center, center);
  position: absolute;
  top: -20%;
  right: -2em;

  background-color: $clr-primary-400;
  padding: 0.2rem;
  border-radius: 0.2rem;
  min-width: 1rem;
  aspect-ratio: 1;

  font-size: $fs-100;
  font-weight: $fw-400;
  color: $clr-neutral-200;
  line-height: 1;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;

  font-weight: $fw-500;
  font-size: $fs-500;
  text-align: center;
  padding-block: 1rem;
}

.success {
  color: $clr-neutral-200;
  background-color: $clr-success;
}
.warning {
  color: $clr-neutral-700;
  background-color: $clr-warning;
}

.hidden {
  display: none;
}
